@{
    ViewBag.Title = "Home Page";
}
<script src="/scripts/knockout-2.2.0.js" ></script>


<div class='liveExample'> 
    
    <div>You've clicked <span data-bind='text: numberOfClicks'>&nbsp;</span> times</div>
     
    <div id="result" data-bind='text: result'></div>
    <button id="8" data-bind='click: clickEight'></button>

    <button data-bind='click: registerClick, disable: hasClickedTooManyTimes'>Click me</button>
     
    <div data-bind='visible: hasClickedTooManyTimes'>
        That's too many clicks! Please stop before you wear out your fingers.
        <button data-bind='click: resetClicks'>Reset clicks</button>
    </div>
        
</div>​

<script src="/scripts/CalculatorViewModel.js" type="text/javascript"></script>
